.container {
  background-color: #29203d;
  width: 100%;
  font-size: 18pt;
}

.jumbotron {
  background-color: black;
  text-align: center;
}

#outputDisplayID {
  color: white;
}

#titleTextID {
  font-size: 72pt;
  color: #5b0a0a;
}

#bat1ID {
  float: inherit;
  height: 120px;
}

#garlicID {
  color: yellow;
}

#toppingsID {
  background-color: black;
  color: white;
  border: 3px solid grey;
}

.col-md-6{
  text-align: center;
}

body {
  background-image: url(../img/background.jpg);
  background-size: border size;
}

h2 {
  color: #b4c160;
  text-align: center;
}

#h2PizzaToppingsID {
  color: lightgrey;
}

#batpicID {
  margin-top: 10px;
  padding: 4px;
  border: 3px solid grey;
}
