.container {
  background-color: #300a05;
  width: 100%;
  font-size: 18pt;
  background-image: url(../img/blood.jpg);
}

.jumbotron {
  background-color: black;
  text-align: center;
}

#beginning {
  font-family: cursive;
  font-size: 18pt;
  color: maroon;
  padding: 5px;
  margin-top: 15px;
}

#outputDisplayID {
  color: white;
  background-color: #661c12;
  height: 250px;
}

#titleTextID {
  font-size: 62pt;
  color: #5b0a0a;
}

#bat1ID {
  float: inherit;
  height: 80px;
}

#bat2ID{
  float: left;
  height: 50px;
  margin-left: 20px;
}
#garlicID {
  color: red;
  font-style: italic;
  font-family: sans-serif;
  margin: 15px;
  text-align: center;
}

#toppingsID {
  background-color: black;
  color: grey;
  border: 3px solid grey;
  padding: 14px;
}

body {
  background-image: url(../img/background.jpg);
  background-size: border size;
}

h2 {
  color: #b4c160;
  text-align: center;
}

#h2PizzaToppingsID {
  color: lightgrey;
  text-align: center;
}

#pizzaSizeFONTID {
  color: lightgrey;
  /*text-align: center;*/
}

#pizzaID {
/* margin: 0; */
height: 190px;
}

#pizzaSizeFormID {
  background-color: black;
  border: 4px solid grey;
  padding: 45px;
  margin: 9px;
}

#outputDisplayID {
  display: none;
  text-align: center;
  border: 5px solid pink;
  padding: 20px;
}

#orderSubmitBTNID {
  margin-top: 20px;
  margin-left: 45px;
}
